/vendor/
/node_modules/
/.idea/
/.vscode/
*.swp
*.swo
*~
.phpunit.result.cache
.phpunit.cache/
composer.phar
composer.lock
.phpcs-cache
.php-cs-fixer.cache
coverage/
build/
.DS_Store

# Environment variables
.env
