parameters:
    level: 5
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Call to method PHPUnit\\Framework\\Assert::(assertTrue|assertNotNull|assertIsArray).*always evaluate to#'
        - '#Unsafe usage of new static#'
        - '#Negated boolean expression is always true#'
        - '#Unreachable statement - code above always terminates#'
